.classpath
captures/
project.properties
keystore.debug.properties
keystore.staging.properties
keystore.release.properties
debug.keystore
nightly-url.txt
.project
.settings
bin/
gen/
.idea/
*.iml
*.md
*.bat
out
tests
local.properties
ant.properties
.DS_Store
build.log
build-log.xml
.gradle
build
signing.properties
library/lib/
library/obj/
ffpr
test/androidTestEspresso/res/values/arrays.xml
obj/
jni/libspeex/.deps/
pkcs11.password
dev.keystore
maps.key
/local/
kls_database.db
.kotlin
.claude
.gradle
.github
*/build
*/*.log
app/playProd
app/websiteProd
app/playStaging
.git
*/*.apk
*.so
gradle.properties